/* ===================
    Campaign Showcase
   ===================  */
   .contact-us-showcase {
    width: 100%;
    height: 300px;
    background: url('../images/shop-background.jpg') no-repeat center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    position: relative;
    border-radius: .1rem;
    z-index: 1;
}

.contact-us-showcase:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: -1;
}

.contact-us-showcase-title {
    text-align: center;
}

.contact-us-showcase-title h2 {
    font-family: var(--raleway-font-family);
    font-size: 3rem;
    font-weight: 800;
    color: var(--theme-font-dark-grey-color);
    margin-bottom: 1rem;
}

.contact-us-showcase-title-btns {
    font-size: 1.2rem;
    color: var(--theme-font-dark-grey-color);
}

.contact-us-showcase-title-btns span a,
.contact-us-showcase-title-btns span i {
    color: var(--theme-blue-color);
}

.contact-us-showcase-title-btns span i {
    margin: 0 1rem;
}

.contact-us-showcase-title-btns span a:hover {
    color: var(--theme-font-dark-grey-color);
}

/* =============
    Shop Layout
   ============= */
.shop {
    margin: 4rem 0;
}

.shop-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
}

.shop-communities {
    text-align: center;
    width: 60%;
    margin: 1rem auto 3rem auto;
    line-height: 1.3;
    color: var(--theme-blue-color)
}

/* ============
    shop Items
   ============  */
.shop-right-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.shop-cards-all {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.shop-cards-item {
    text-align: center;
    position: relative;
}

.sale-banner {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    background-color: var(--theme-orange-color);
    color: var(--white);
    padding: .3rem .2rem;
    top: 0;
    left: 0;
    text-transform: uppercase;
}

.item-price span {
    text-decoration: line-through;
    color: var(--theme-light-grey-color);
    margin-right: .5rem;
    font-weight: 400;
    font-size: .9
}

.shop-cards-item img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.item-details {
    font-weight: 600;
    margin: 1rem 0 .5rem 0;
    line-height: 1;
}

.item-title {
    color: var(--theme-font-grey-color-5);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.item-price {
    color: var(--theme-orange-color);
    font-size: .9rem;
}

.item-button {
    text-transform: uppercase;
    padding: .5em .8em;
    margin-top: .5rem;
    color: var(--white);
    background-color: var(--theme-blue-color);
    border: 1px solid var(--theme-blue-color);
    font-size: .7rem;
}

.item-button:hover {
    background: var(--white);
    color: var(--theme-blue-color);
    border-color: var(--theme-blue-color);
}

/* =============
    Left Side
   ============= */
.price-filter,
.product-categories {
   margin-top: 2rem;
}

.filter {
    display: block;
    padding: .3rem 0;
    color: var(--white);
    background-color: var(--theme-blue-color);
}

.filter-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.filter-button button {
    background: var(--theme-med-grey-color);
    color: var(--white);
    padding: .6em .8em;
    border: 1px solid var(--theme-med-grey-color);
    border-radius: 500px;
    font-size: .8rem; 
    font-weight: 600;
    font-family: var(--raleway-font-family); 
    text-transform: uppercase;
}

.filter-button button:hover {
    background-color: var(--white);
    color: var(--theme-med-grey-color)
}

.filter-button p {
    font-size: .9rem; 
    font-weight: 600;
    font-family: var(--raleway-font-family); 
    color: var(--theme-med-grey-color);
}

.product-category-items a {
    display: block;
    color: var(--theme-blue-color);
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
